body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    font-family:sans-serif ;
    font-weight: bold;
}

#gameboard {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    box-sizing: border-box;
    padding: 50px;
}
#gameboard > div { }